.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
  position: relative;
}

.App-header h1 {
  margin: 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-main {
  margin: 2rem 0;
}


.h1-style {
  padding: 30px;
}

button {
  background-color: #21903d;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.book-image-style {
  width: 286px;
  height: 190px;
  padding: 40px;
}

.header-buttons {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 10px;
}

.header-button {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-button:hover {
  background-color: #0056b3;
}