.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    transition: background-color 0.3s, color 0.3s;
}

.button-container button:hover {
    background-color: #13B33B;
    color: white;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}
